{% extends "layout.twig" %}

{% block title %}{{ '/' ~ gallery.getPath() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/pagination.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/gallery.js') }}"></script>
    <script src="{{ asset('js/pagination.js') }}"></script>
{% endblock %}

{% block pageTitle %}
    <a href="{{ url('Home') }}">
        {% trans %}breadcrumb.home{% endtrans %}
    </a>
    {% if gallery.getPath() != '' %}
        {% set currentBreadCrumb = '' %}
        {% for breadCrumb in gallery.getBreadCrumb() %}
            {% set currentBreadCrumb = currentBreadCrumb ~ '/' ~ breadCrumb %}
            &gt;
            <a
                href="{{
                    url(
                        'AlbumDisplay',
                        {
                            'albumPath': currentBreadCrumb|trim('/'),
                            'nbPerPage': nbPerPage
                        }
                    )
                }}"
            >
                {{ breadCrumb }}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if _session.has('user') and _session.get('user').isAdmin() %}
        <div id="tools">
            {% if not gallery.hasProtection() %}
                <a href="{{ url('AlbumProtect', { 'albumPath': gallery.getPath() } ) }}">
                    {% trans %}tools.protect{% endtrans %}
                </a>
            {% elseif gallery.hasProtection() %}
                <a href="{{ url('AlbumUnprotect', { 'albumPath': gallery.getPath() } ) }}">
                    {% trans %}tools.unprotect{% endtrans %}
                </a>
            {% endif %}
        </div>
    {% endif %}


    {% if not gallery.isRoot() %}
        <div class="item folder parent">
            <a href="{{ url('AlbumDisplay', { 'albumPath': gallery.getParentPath(), 'nbPerPage': nbPerPage } ) }}" class="image">
                <img src="{{ asset('img/parent.png') }}" width="150" height="150" />
            </a>
            <p class="name">
                {% trans %}gallery.parent{% endtrans %}
            </a>
        </div>
    {% endif %}


    {% for item in gallery.getPaginatedPreviousData() %}
        {% set currentItemPath = gallery.getPath() ~ '/' ~ item.getName() %}
        <a
            href="{{ url('PhotoDisplay', { 'photo': currentItemPath } ) }}"
            class="fresco"
            data-fresco-caption="{{ item.getName() }}"
            data-fresco-group="photo"
        ></a>
    {% endfor %}

    {% for item in gallery.getPaginatedData() %}
        {% set currentItemPath = gallery.getPath() ~ '/' ~ item.getName() %}
        <div
            class="item {{ item.getType() }}{% if gallery.hasProtection(item.getRelativePath()) %} protected{% endif %}"
        >
            {% if item.isAlbum() %}
                <a href="{{ url('AlbumDisplay', { 'albumPath': currentItemPath, 'nbPerPage': nbPerPage } ) }}" class="image">
                    <img src="{{ asset('img/folder.png') }}" width="150" height="150" />
                </a>
            {% else %}
                <a
                    href="{{ url('PhotoDisplay', { 'photo': currentItemPath } ) }}"
                    class="image fresco"
                    data-fresco-caption="{{ item.getName() }}"
                    data-fresco-group="photo"
                >
                    <img src="{{ url('PhotoThumb', { 'photo': currentItemPath, 'width': 150, 'height': 150 } ) }}" width="150" height="150" />
                </a>
            {% endif %}
            <p class="name">
                {{ item.getName() }}
            </p>
        </div>
    {% endfor %}

    {% for item in gallery.getPaginatedNextData() %}
        {% set currentItemPath = gallery.getPath() ~ '/' ~ item.getName() %}
        <a
            href="{{ url('PhotoDisplay', { 'photo': currentItemPath } ) }}"
            class="fresco"
            data-fresco-caption="{{ item.getName() }}"
            data-fresco-group="photo"
        ></a>
    {% endfor %}

    {% if gallery.getNbPages() > 1 %}
        <div class="pagination">
            {% set pages = gallery.getPages() %}

            {% if gallery.hasPreviousPage() %}
                <a
                    href="{{ url('AlbumDisplay', { 'albumPath': gallery.getPath(), 'nbPerPage': nbPerPage, 'page': gallery.getFirstPage() } ) }}"
                    class="button first"
                >&nbsp;</a>

                <a
                    href="{{ url('AlbumDisplay', { 'albumPath': gallery.getPath(), 'nbPerPage': nbPerPage, 'page': gallery.getPreviousPage() } ) }}"
                    class="button previous"
                >&nbsp;</a>
            {% else %}
                <span class="button first">&nbsp;</span>
                <span class="button previous">&nbsp;</span>
            {% endif %}

            {% for linkPage in pages %}
                <a
                    href="{{ url('AlbumDisplay', { 'albumPath': gallery.getPath(), 'nbPerPage': nbPerPage, 'page': linkPage } ) }}"
                    class="page{% if linkPage == page %} current{% endif %}"
                >
                    {{ linkPage }}
                </a>
            {% endfor %}

            {% if gallery.hasNextPage() %}
                <a
                    href="{{ url('AlbumDisplay', { 'albumPath': gallery.getPath(), 'nbPerPage': nbPerPage, 'page': gallery.getNextPage() } ) }}"
                    class="button next"
                >&nbsp;</a>

                <a
                    href="{{ url('AlbumDisplay', { 'albumPath': gallery.getPath(), 'nbPerPage': nbPerPage, 'page': gallery.getLastPage() } ) }}"
                    class="button last"
                >&nbsp;</a>
            {% else %}
                <span class="button next">&nbsp;</span>
                <span class="button last">&nbsp;</span>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}